In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('DisneyMovieInfo.csv', index_col=0)

In [3]:
df.sample(3)

,Productioncompany,Release date,Running time,Country,Language,Box office,Directed by,Produced by,Written by,Based on,Starring,Music by,Distributed by,Budget,Story by,Narrated by,Cinematography,Edited by,Screenplay by,Productioncompanies
Ten Who Dared,Walt Disney Productions,"['November\xa01,\xa01960\xa0(1960-11-01)']",92 minutes,United States,English,NaN,William Beaudine,Walt DisneyJames Algar,Lawrence Edward Watkin,journalby John Wesley Powell,Brian KeithBen JohnsonJohn BealJames Drury,Oliver Wallace,Buena Vista Distribution,NaN,NaN,NaN,Gordon Avil,Norman PalmerCotton Warburton,NaN,NaN
Freaky Friday,"['Walt Disney Pictures', 'Gunn Films']","['August\xa04,\xa02003\xa0(2003-08-04) (Los An...",97 minutes,United States,English,$160.8 million[2],Mark Waters,Andrew Gunn,NaN,Freaky Fridayby Mary Rodgers,"['Jamie Lee Curtis', 'Lindsay Lohan', 'Harold ...",Rolfe Kent,Buena Vista Pictures,$26 million[1],NaN,NaN,Oliver Wood,Bruce Green,"['Heather Hach', 'Leslie Dixon']",NaN
Ghost of the Mountains,"['Disneynature', 'Brian Leith Productions']","['June\xa030,\xa02017\xa0(2017-06-30) (United ...",NaN,United States,English,NaN,Ben Wallis,Brian Leith,Ben Wallis,NaN,NaN,NaN,Walt Disney Studios Motion Pictures,NaN,NaN,Antoine Fuqua,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 421 entries, Academy Award Review of Walt Disney Cartoons to Mulan
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Productioncompany     384 non-null    object
 1   Release date          420 non-null    object
 2   Running time          417 non-null    object
 3   Country               417 non-null    object
 4   Language              419 non-null    object
 5   Box office            358 non-null    object
 6   Directed by           416 non-null    object
 7   Produced by           411 non-null    object
 8   Written by            198 non-null    object
 9   Based on              206 non-null    object
 10  Starring              388 non-null    object
 11  Music by              413 non-null    object
 12  Distributed by        418 non-null    object
 13  Budget                274 non-null    object
 14  Story by              136 non-null    object
 15  Narrated by           53 non-null     object
 16  Cinematography        335 non-null    object
 17  Edited by             387 non-null    object
 18  Screenplay by         185 non-null    object
 19  Productioncompanies   36 non-null     object
dtypes: object(20)
memory usage: 69.1+ KB

# Data Cleaning

# Production Companies

In [5]:
production_companies = df[['Productioncompany ', 'Productioncompanies ']]

In [6]:
'{} {}'.format(production_companies.iloc[1][0], production_companies.iloc[1][1])

'Walt Disney Productions nan'

In [7]:
production_companies = production_companies.fillna('')

In [8]:
'{} {}'.format(production_companies.iloc[1][0], production_companies.iloc[1][1]).strip(' ')

'Walt Disney Productions'

In [9]:
production_companies['production_company'] = production_companies.apply(lambda x: '{} {}'.format(x[0], x[1]).strip(' '), axis=1)

In [10]:
df['production_company'] = production_companies['production_company']

In [11]:
for i in production_companies['production_company']:
    if 'Walt Disney Pictures' in i:
        print(i)

Walt Disney PicturesAmarok Productions Ltd.
Walt Disney PicturesSilver Screen Partners II
Walt Disney Pictures[1]Walt Disney Productions[2]Silver Screen Partners II[1]
Walt Disney PicturesSilver Screen Partners II
Walt Disney PicturesSilver Screen Partners IITelefilm Canada
['Walt Disney Pictures', 'Walt Disney Feature Animation', 'Silver Screen Partners II']
Walt Disney PicturesMulberry Square ProductionsSilver Screen Partners III
Walt Disney PicturesSilver Screen Partners IIIBurrowes Film GroupThe Hoyts Group
['Walt Disney Pictures', 'Walt Disney Feature Animation', 'Silver Screen Partners III']
Walt Disney Pictures Silver Screen Partners III
Walt Disney PicturesSilver Screen Partners III
['Walt Disney Pictures', 'Walt Disney Feature Animation', 'Silver Screen Partners IV']
['Walt Disney Pictures[2]', 'Disney MovieToons[3]', 'Walt Disney Animation France[3]']
['Walt Disney Pictures', 'Walt Disney Feature Animation', 'Silver Screen Partners IV']
Walt Disney PicturesSilver Screen Partners IV
Walt Disney PicturesAB Svensk Filmindustri
Walt Disney Pictures
['Walt Disney Pictures (United States)', 'Touchstone Pictures (International)', 'Silver Screen Partners IV', 'Gordon Company']
['Walt Disney Pictures[2]', 'Walt Disney Feature Animation[3]', 'Silver Screen Partners IV[2]']
Walt Disney Pictures
Walt Disney PicturesTouchwood Pacific Partners[1]
['Walt Disney Pictures', 'Avnet–Kerner Productions', 'Touchwood Pacific Partners I']
['Walt Disney Pictures', 'Walt Disney Feature Animation']
['Walt Disney Pictures', 'Jim Henson Productions']
Walt Disney Pictures
Walt Disney PicturesAmblin EntertainmentTouchwood Pacific Partners
Walt Disney Pictures
Walt Disney Pictures
Walt Disney Pictures
Walt Disney PicturesCaravan PicturesAvnet–Kerner Productions (uncredited)
Walt Disney Pictures
Walt Disney Pictures
Walt Disney PicturesAvnet–Kerner Productions
Walt Disney Pictures
['Walt Disney Pictures', 'Walt Disney Feature Animation']
Walt Disney PicturesCaravan Pictures
Walt Disney Pictures
Walt Disney Pictures
Baloo ProductionsJungle Book Films[1]Walt Disney Pictures
Walt Disney PicturesCaravan Pictures
Walt Disney PicturesAll Girl ProductionsOrr & Cruickshank Productions
Walt Disney PicturesCaravan Pictures
['Walt Disney Pictures[3]', 'Disney MovieToons[4][a]']
['Walt Disney Pictures', 'Walt Disney Feature Animation']
Walt Disney PicturesInterscope CommunicationsPolyGram Filmed Entertainment
Walt Disney PicturesTrimark PicturesTapestry Films
Walt Disney PicturesCaravan PicturesRoger Birnbaum Productions
Theodore Thomas Productions Walt Disney Pictures
['Walt Disney Pictures', 'Pixar Animation Studios']
Walt Disney Pictures
['Walt Disney Pictures', 'Jim Henson Productions']
Walt Disney Pictures
Walt Disney PicturesAllied FilmmakersSkellington Productions
Walt Disney PicturesWalt Disney Feature Animation
Walt Disney PicturesCaravan PicturesRoger Birnbaum Productions
Walt Disney PicturesAvnet-Kerner Productions
['Walt Disney Pictures[1]', 'Great Oaks Entertainment[2]']
Walt Disney PicturesRobert Simonds Productions
Walt Disney PicturesTF1 International
['Walt Disney Pictures', 'Walt Disney Feature Animation']
Walt Disney PicturesMandeville FilmsJay Ward ProductionsThe Kerner Entertainment Company
Walt Disney Pictures Caravan Pictures Roger Birnbaum Productions
Walt Disney Pictures[1]Great Oaks
['Walt Disney Pictures', 'UPA Productions']
['Walt Disney Pictures[1]', 'DIC Entertainment[1]', 'Peak Productions[1]']
['Walt Disney Pictures', 'Walt Disney Feature Animation']
Walt Disney Pictures
['Walt Disney Pictures', 'Mandeville Films']
['Walt Disney Pictures', 'Pixar Animation Studios']
Walt Disney PicturesRKO PicturesThe Jacobson Company
Walt Disney Pictures
Walt Disney PicturesJumbo PicturesWalt Disney Television AnimationPlus One Animation
Walt Disney Pictures
['Walt Disney Pictures', 'Walt Disney Feature Animation']
['Walt Disney Pictures[1]', 'Caravan Pictures', 'DIC Entertainment', 'Avnet/Kerner Productions', 'Roger Birnbaum Productions']
['Walt Disney Pictures', 'Pixar Animation Studios']
Walt Disney PicturesWalt Disney Feature Animation

['Walt Disney Television Animation[1]', 'Walt Disney Animation Japan[1]', 'Walt Disney Pictures[1]']
['Walt Disney Pictures', 'Walt Disney Feature Animation', 'The Secret Lab']
Walt Disney Pictures
Walt Disney PicturesJerry Bruckheimer FilmsTechnical Black Films
['Walt Disney Pictures', 'Cruella Productions', 'Kanzaman S.A.M. Films']
['Walt Disney Pictures', 'Walt Disney Feature Animation']
['Walt Disney Pictures', 'Walt Disney Television Animation', 'Walt Disney Television Animation Digital Production', 'Paul & Joe Productions', 'Sunwoo AnimationSunwoo Digital International']
['Walt Disney Pictures', 'Walt Disney Feature Animation']
['Walt Disney Pictures', 'BrownHouse Productions']
['Walt Disney Pictures', 'Karz Entertainment']
['Walt Disney Pictures', 'Pixar Animation Studios']
Walt Disney PicturesThe Kerner Entertainment Company
Walt Disney Pictures
Walt Disney PicturesWalt Disney Feature Animation
Walt Disney Pictures
Walt Disney PicturesScholastic Studios
['Walt Disney Pictures', 'Outlaw Productions', 'Boxing Cat Films']
Walt Disney PicturesWalt Disney Feature Animation
DisneyToon Studios[1]Walt Disney Pictures[1]
DisneyToon Studios[1]Walt Disney Pictures[2][1]
Walt Disney PicturesWalden MediaEarthship ProductionsAscot Elite Entertainment GroupGolden VillageTelepoolUGC PH
['Walt Disney Pictures', 'Walden Media', 'Phoenix Pictures', 'Chicago Pacific Entertainment']
['Walt Disney Pictures', 'Stan Rogow Productions']
['Walt Disney Pictures', 'Pixar Animation Studios']
['Walt Disney Pictures', 'Jerry Bruckheimer Films']
['Walt Disney Pictures', 'Gunn Films']
Walt Disney PicturesWalt Disney Feature Animation
Walt Disney Pictures
['Walt Disney Pictures', 'The Kennedy/Marshall Company']
Walt Disney PicturesWalt Disney Television AnimationToon City Animation
Walt Disney PicturesMayhem Pictures
Walt Disney Pictures
['Walt Disney Pictures', 'Walt Disney Feature Animation']
Walt Disney Pictures
Walt Disney PicturesWalden MediaSpanknyce FilmsMostow/Lieberman Productions
Walt Disney PicturesBlacklight Films
['Walt Disney Pictures', 'ShondaLand', 'Martin Chase Productions']
['Walt Disney Pictures[1]', 'Pixar Animation Studios[1]']
['Walt Disney Pictures', 'Jerry Bruckheimer Films', 'Junction Entertainment', 'Saturn Films']
['Walt Disney Pictures', 'Walden Media', 'Earthship Productions']
Walt Disney Pictures[1]Disneytoon Studios[2]
['Walt Disney Pictures[1]', 'Spyglass Entertainment[1]']
Walt Disney PicturesBridget Johnson FilmsOn The Ice Productions
['Walt Disney Pictures', 'Robert Simonds Productions']
['Walt Disney Pictures', 'Gunn Films']
Walt Disney Pictures
['Walt Disney Pictures[1]', 'Walt Disney Feature Animation[2]']
Walt Disney PicturesWalden Media
Walt Disney PicturesJerry Bruckheimer FilmsTexas Western ProductionsGlory Road Productions
Walt Disney PicturesWhite Mountain FilmsThe Kennedy/Marshall Company
['Walt Disney Pictures', 'Spyglass Entertainment', 'Mandeville Films', 'The Kennedy/Marshall Company']
['Walt Disney Pictures', 'Mandeville Films', 'Boxing Cat Films']
Walt Disney Pictures Hoytyboy Pictures Sir Zip Productions Contrafilm C.O.R.E. Feature Animation
Walt Disney PicturesPixar Animation Studios
['Walt Disney Pictures', 'Jerry Bruckheimer Films']
Walt Disney Pictures
['Walt Disney Pictures', 'Outlaw Productions', 'Boxing Cat Films']
Walt Disney PicturesWalden Media[1]
Walt Disney PicturesWalt Disney Animation Studios
['Walt Disney Pictures', 'Jerry Bruckheimer Films']
['Walt Disney Pictures', 'Pixar Animation Studios']
['Walt Disney Pictures[1]', 'Spyglass Entertainment[1]']
['Walt Disney Pictures', 'Mayhem Pictures']
['Walt Disney Pictures', 'Sonnenfeld Productions', 'Josephson Entertainment']
['Walt Disney Pictures', 'Jerry Bruckheimer Films', 'Junction Entertainment', 'Saturn Films']
Walt Disney PicturesPACEDisney Channel Original Productions
Walt Disney PicturesGunn FilmsHead Gear Films
['Walt Disney Pictures', 'Walden Media']
['Walt Disney Pictures', 'Pixar Animation Studios']
Walt Disney PicturesMandeville Films
Walt Disney Pictures
['Walt Disney Pictures', 'Borden and Rosenbush Entertainment']
['Walt Disney Pictures', 'Walt Disney Animation Studios']
Walt Disney Pictures Happy Madison Productions Gunn Films Offspring Entertainment Conman & Izzy Productions
Walt Disney PicturesJonas Films
Walt Disney PicturesGunn Films
['Walt Disney Pictures', "It's a Laugh Productions", 'Millar Gough Ink']
['Walt Disney Pictures', 'Pixar Animation Studios']
['Walt Disney Pictures', 'Jerry Bruckheimer Films']
['Walt Disney Pictures', 'ImageMovers Digital']
Walt Disney PicturesTapestry Films
['Walt Disney Pictures', 'Walt Disney Animation Studios']
['Walt Disney Pictures', 'Roth Films', 'The Zanuck Company', 'Team Todd']
['Walt Disney Pictures', 'Jerry Bruckheimer Films']
['Walt Disney Pictures', 'Pixar Animation Studios']
['Walt Disney Pictures', 'Jerry Bruckheimer Films', 'Saturn Films', 'Broken Road Productions']
['Walt Disney Pictures', 'Mayhem Pictures']
['Walt Disney Pictures', 'Disney World Cinema', 'Planman Motion Pictures', 'Walt Disney Pictures India']
Walt Disney Pictures[2]Walt Disney Animation Studios[3]
Walt Disney PicturesRed Hour Films
['Walt Disney Pictures', 'Sean Bailey Productions']
Disney World CinemaA Bellyful of Dreams EntertainmentArka Media WorksWalt Disney Pictures India
Walt Disney Pictures
Walt Disney PicturesImageMovers Digital
Disney World Cinema  Walt Disney Pictures India
Walt Disney Pictures
['Walt Disney Pictures', 'Jerry Bruckheimer Films', 'Original Film']
['Walt Disney Pictures', 'Pixar Animation Studios']
['Walt Disney Pictures', 'Walt Disney Animation Studios']
Walt Disney Pictures[1]Mandeville Films[1]The Muppets Studio
Walt Disney Pictures
Walt Disney PicturesWalt Disney Pictures IndiaUTV Motion Pictures
Walt Disney PicturesPixar Animation Studios
['Walt Disney Pictures', 'Scott Sanders Productions']
Walt Disney PicturesTim Burton Productions
['Walt Disney Pictures', 'Walt Disney Animation Studios']
['Walt Disney Pictures', 'Roth Films']
Walt Disney PicturesPixar Animation Studios
['Walt Disney Pictures', 'Jerry Bruckheimer Films', 'Infinitum Nihil', 'Blind Wink Productions']
Walt Disney PicturesDisneytoon Studios
['Walt Disney Pictures', 'Walt Disney Animation Studios']
['Walt Disney Pictures', 'Ruby Films', 'Essential Media and Entertainment', 'BBC Films', 'Hopscotch Features']
Walt Disney PicturesMandeville FilmsThe Muppets Studio
Walt Disney PicturesRoth FilmsMayhem Pictures
['Walt Disney Pictures', 'Roth Films']
['Walt Disney Pictures', 'Disneytoon Studios']
Walt Disney Pictures21 Laps EntertainmentThe Jim Henson Company
Walt Disney PicturesWalt Disney Animation Studios
['Walt Disney Pictures', 'Lucamar Productions', 'Marc Platt Productions']
['Walt Disney Pictures', 'Mayhem Pictures']
['Walt Disney Pictures', 'Kinberg Genre', 'Allison Shearmur Productions', 'Beagle Pug Films']
['Walt Disney Pictures', 'A113 Productions']
['Walt Disney Pictures', 'Pixar Animation Studios']
Walt Disney Pictures
['Walt Disney Pictures', 'Pixar Animation Studios']
['Walt Disney Pictures', 'Whitaker Entertainment', 'Red Hawk Entertainment']
['Walt Disney Pictures', 'Walt Disney Animation Studios']
['Walt Disney Pictures', 'Fairview Entertainment']
['Walt Disney Pictures', 'Roth Films', 'Team Todd', 'Tim Burton Productions']
['Walt Disney Pictures', 'Pixar Animation Studios']
['Walt Disney Pictures[1][2]', 'Amblin Entertainment', 'Reliance Entertainment', 'Walden Media[3]', 'The Kennedy/Marshall Company']
['Walt Disney Pictures', 'Whitaker Entertainment']
['Walt Disney Pictures', 'ESPN Films', 'Cine Mosaic', 'Mirabai Films']
['Walt Disney Pictures', 'Walt Disney Animation Studios']
Aamir Khan ProductionsWalt Disney Pictures India
['Walt Disney Pictures', 'Mandeville Films']
['Walt Disney Pictures', 'Jerry Bruckheimer Films']
['Walt Disney Pictures', 'Pixar Animation Studios']
Walt Disney Pictures IndiaPicture Shuru EntertainmentIshana Movies
['Walt Disney Pictures[3]', 'Pixar Animation Studios[3]']
['Walt Disney Pictures', 'Whitaker Entertainment']
['Walt Disney Pictures', 'Pixar Animation Studios']
['Walt Disney Pictures', '2DUX²']
['Walt Disney Pictures', 'The Mark Gordon Company']
['Walt Disney Pictures', 'Walt Disney Animation Studios']
['Walt Disney Pictures', 'Lucamar Productions', 'Marc Platt Productions']
['Walt Disney Pictures', 'Tim Burton Productions', 'Infinite Detective Productions', 'Secret Machine Entertainment']
['Walt Disney Pictures', 'Rideback', 'Marc Platt Productions']
['Walt Disney Pictures', 'Pixar Animation Studios']
['Walt Disney Pictures', 'Fairview Entertainment']
['Walt Disney Pictures', 'Roth/Kirschenbaum Films']
['Walt Disney Pictures', 'Taylor Made[3]']
Walt Disney Pictures
['Walt Disney Pictures', 'Walt Disney Animation Studios']
Walt Disney Pictures
['Walt Disney Pictures', 'Etalon Film', 'Slow Pony Pictures', 'Whitaker Entertainment[1]']
['Walt Disney Pictures', 'Pixar Animation Studios']
Walt Disney PicturesGotham GroupHahnscape Entertainment

['Walt Disney Pictures', 'TriBeCa Productions', 'Marzano Films']
['Walt Disney Pictures[1]', '5000 Broadway Productions', 'Nevis Productions', 'Old 320 Sycamore Pictures', 'RadicalMedia[2]']
['Parkwood Entertainment[1]', 'Walt Disney Pictures[1][3]']
Walt Disney PicturesTeam Todd
['Walt Disney Pictures[1]', 'Jolie Pas Productions[1]']
['Walt Disney Pictures', 'Jason T. Reed Productions', 'Good Fear Productions']

# Release Date

In [12]:
import re
mylist=df['Release date'].iloc[1]
print(mylist)
print(re.findall('(\d\d\d\d-\d\d-\d\d)', mylist)[0])

['December\xa021,\xa01937\xa0(1937-12-21) (Carthay Circle Theatre, Los Angeles, CA)', 'February\xa04,\xa01938\xa0(1938-02-04) (United States)']
1937-12-21

In [13]:
mylist=df['Release date'].iloc[30]
print(mylist)
print(re.findall('([a-zA-Z]{1,10} \d{1,2}, \d\d\d\d)',mylist )[0])

June 8, 1956[1]
June 8, 1956

In [14]:
def find_date(x):
    global y
    try:
        if re.search('(\d\d\d\d-\d\d-\d\d)', x) != None:
            y = re.findall('(\d\d\d\d-\d\d-\d\d)', x)[0]

        elif re.search('[a-zA-Z]{1,10} \d{1,2}, \d\d\d\d',x) != None:
            y = re.findall('[a-zA-Z]{1,10} \d{1,2}, \d\d\d\d',x)[0]

        elif re.search('(\d\d\d\d)', x) != None:
            y = re.findall('(\d\d\d\d)',x)[0]
    except TypeError:
        y = np.NaN

    
    return y

In [15]:
df['release_date'] = pd.to_datetime(df['Release date'].apply(find_date))

In [16]:
df['release_date'].isnull().sum()

1

In [17]:
df[['Release date','release_date']]

,Release date,release_date
Academy Award Review of Walt Disney Cartoons,"['May\xa019,\xa01937\xa0(1937-05-19)']",1937-05-19
Snow White and the Seven Dwarfs,"['December\xa021,\xa01937\xa0(1937-12-21) (Car...",1937-12-21
Pinocchio,"['February\xa07,\xa01940\xa0(1940-02-07) (Cent...",1940-02-07
Fantasia,"['November\xa013,\xa01940\xa0(1940-11-13)']",1940-11-13
The Reluctant Dragon,"['June\xa020,\xa01941\xa0(1941-06-20)[1]']",1941-06-20
...,...,...
Hamilton,"['July\xa03,\xa02020\xa0(2020-07-03)']",2020-07-03
Black Is King,"['July\xa031,\xa02020\xa0(2020-07-31)']",2020-07-31
Magic Camp,"['August\xa014,\xa02020\xa0(2020-08-14)']",2020-08-14
The One and Only Ivan,"['August\xa021,\xa02020\xa0(2020-08-21) (Unite...",2020-08-21
Mulan,"['March\xa09,\xa02020\xa0(2020-03-09) (Hollywo...",2020-03-09

# Running Time

In [18]:
df['Running time'].unique()

array(['41 minutes (74 minutes 1966 release)', '83 minutes', '88 minutes',
       '126 minutes[1]', '74 minutes', '64 minutes', '70 minutes',
       '42 minutes', '65 min.', '71 minutes', '75 minutes',
       '94 minutes[2]', '73 minutes', '82 minutes', '68 minutes',
       '74 minutes[4]', '96 minutes', '75 minutes[2]', '84 minutes',
       '77 minutes', '92 minutes', '69 minutes', '81 minutes',
       '60 minutes (VHS version)71 minutes (original)', '127 minutes',
       '76 minutes', '85 minutes', '90 min.', '80 minutes', '72 minutes',
       '97 minutes', '104 minutes', '93 minutes', '105 minutes',
       '95 minutes', '134 minutes', '126 minutes', '79 minutes',
       '128 minutes', '91 minutes', '105 minutes[1]', '98 minutes',
       '130 minutes', '89 min.', '67 minutes', '100 minutes',
       '118 minutes', '103 Minutes', '110 minutes', '80 min.',
       '139 minutes[3]', '131 mins.', '87 minutes', '116 minutes',
       '110 min.', '131 minutes', '101 minutes', '108 minutes',
       '78 minutes',
       "164 minutes(Los Angeles premiere)144 minutes(New York City premiere)118 minutes(General release)172 minutes(Director's Cut)",
       '106 minutes', '99 minutes', '113 mins.', '112 minutes',
       '113 minutes', '89 minutes',
       '118 minutes (1971 original version)139 minutes (1996 reconstruction version)',
       '93 min.', '93 mins', '97 min.', '115 minutes', '91 min.',
       '48 minutes', '94 minutes', '90 minutes', '114 minutes',
       '109 minutes', '107 minutes', '103 minutes', '91 min',
       '80 minutes[4]', '93 minutes[1]', '83 minutes[1]', '69 minutes[2]',
       '108 minutes[1]', '84 minutes[4]', '121 minutes[1]',
       '86 minutes[1]', '96 minutes[1]', '102 minutes', '88 minutes[1]',
       '111 minutes[3]', '78 minutes[5]', '81 minutes[1]',
       '103 minutes[3]', '86 minutes[2]', '93 minutes[2]',
       '128 minutes[1]', '86 minutes', '95 minutes[2]', '88 minutes[2]',
       '78 minutes[2]', '92 minutes [2]', '77 minutes[1]',
       '82 minutes[1]', '104 minutes[1]', '96 minutes[2]',
       '115 minutes[1]', '92 minutes[1]', '73 minutes[2]',
       '85 minutes[1]', '72 minutes[2]', '61 minutes', '117 minutes',
       '100 minutes[1]', '143 minutes[1]', '50 minutes', '136 minutes',
       '40 minutes', '120 minutes[1]', '113 minutes[1]', '115 minutes[2]',
       '100 minutes[2]', '68 minutes[2]', '95 minutes[1]', '120 minutes',
       '81 minutes[3]', '143 minutes', '106 minutes[1]', '82 minutes[2]',
       '117 minutes[1]', '151 minutes[1]', '94 minutes[1][2]',
       '168 minutes[1]', '111 minutes', '107 minutes[1]', '124 minutes',
       '150 minutes', '97 minutes[1]',
       '111 minutes (theatrical)[1]120 minutes (extended/Disney+)',
       '76 minutes[1]85 minutes (Extended edition)[2]', '97 minutes[2]',
       '99 minutes (UK)[1]90 minutes (U.S.)', nan, '90 minutes[1]',
       '104 minutes (Original cut)84 minutes (Disney cut)',
       '103 minutes[1]', '123 minutes', '100 minutes[4]',
       '125 minutes[2]', '137 minutes[1]', '69 minutes[1]',
       '103 minutes[2]', '132 minutes[1]', '87 minutes[1]',
       '101 minutes[3][4]', '130 minutes[1]', '149 minutes[1]',
       '92 minutes[7]', '102 minutes[2]', '125 minutes[1]',
       '124 minutes[1]', '84\xa0minutes[2]', '81 minutes[2]',
       '102 minutes[1][2]', '129 minutes', '106 minutes[2]',
       '130 minutes[1][2]', '94 minutes[3]', '154 minutes',
       '94 minutes[4]', '108 minutes[2][3]', '117 minutes[4]',
       '161 minutes[2]', '80 minutes[1]', '129 minutes[3]',
       '162 minutes[1]', '105 minutes[5]', '109 minutes[1]',
       '118 minutes[1]', '104 minutes[2]', '99 minutes[1]',
       '112 minutes[4]', '131 minutes[2]', '112 minutes[3]',
       '128 minutes[5]', '118 minutes[2]', '119 minutes[3]',
       '103 minutes[4]', '99 minutes[2]', '102 minutes[3]',
       '160 minutes[3]'], dtype=object)

In [19]:
l=[]
for i in range(df['Running time'].nunique()):
    try:
    
        l.append(re.findall('\d{2,3}', df['Running time'].unique()[i])[0])
    except TypeError:
        l.append(np.NaN)

In [20]:
def convert_runningtime(x):
    try:
        y = re.findall('\d{2,3}', x)[0]
    except TypeError:
        y=np.NaN
    return y

In [21]:
df['running_time'] = df['Running time'].apply(convert_runningtime)

In [22]:
df['running_time'] = pd.to_numeric(df['running_time'])

In [23]:
df[['Running time', 'running_time']]

,Running time,running_time
Academy Award Review of Walt Disney Cartoons,41 minutes (74 minutes 1966 release),41.0
Snow White and the Seven Dwarfs,83 minutes,83.0
Pinocchio,88 minutes,88.0
Fantasia,126 minutes[1],126.0
The Reluctant Dragon,74 minutes,74.0
...,...,...
Hamilton,160 minutes[3],160.0
Black Is King,85 minutes[1],85.0
Magic Camp,100 minutes,100.0
The One and Only Ivan,95 minutes,95.0
Mulan,115 minutes[2],115.0

# Budget

In [35]:
nums = []
for i in df['Budget']:
    if type(i) == str:
        nums.append(i.replace('\xa0', ' '))
    else:
        nums.append(i)
df['Budget'] = nums

In [50]:
l=[]
for i in df['Budget'].unique():
    try:
        
        if ('–' in i or '-' in val or 'to' in val) and 'million' in i:
            l.append(float(re.findall('\$\d*\.?\d*', i)[0].strip('$'))*1000000)
        
#         elif 'million' in re.findall('[a-zA-Z]{1,10}', i):
#             try:
#                 l.append(float(i.split('million')[0].strip('$'))*1000000)
#             except:
#                 l.append(i)
        
        
        elif 'million' in re.findall('[a-zA-Z]+', i):
            try:
                if '$' in i:
                    l.append(float(re.findall('\d+\.?\d*',i)[0])*1000000)
                elif '₹' in i:
                    l.append((float(re.findall('\d+\.?\d*',i)[0])*1000000)/73.12)
            except:
                l.append(i)
        
        
        else:
            l.append(re.findall('[a-zA-Z]{1,10}', i)[0])
    
    except:
        try:
            l.append(float(i.strip('$').split('[')[0].replace(',', '')))
        except:
            l.append(i)

In [44]:
# val = '$1.49 million[1]'

In [39]:
# if 'million' in re.findall('[a-zA-Z]+', val):
#     if '$' in val:
#         print(float(re.findall('\d+\.\d*',val)[0])*1000000)
#     elif '₹' in val:
#         print((float(re.findall('\d+\.\d*',val)[0])*1000000)/73.12)

20377.461706783368

In [51]:
dict(zip(list(df['Budget'].unique()), l))

{nan: nan,
 '$1.49 million[1]': 1490000.0,
 '$2.6 million[3]': 2600000.0,
 '$2.28 million[2][3]': 2280000.0,
 '$600,000[2]': 600000.0,
 '$950,000[2]': 950000.0,
 '$858,000[2]': 858000.0,
 '$788,000': 788000.0,
 '$1.35 million[2]': 1350000.0,
 '$2.125 million[3]': 2125000.0,
 '$1.5 million [1]': 1500000.0,
 '$1.5 million [2]': 1500000.0,
 '$2.9 million[5]': 2900000.0,
 '$1,800,000[2]': 1800000.0,
 '$3 million[3]': 3000000.0,
 '$4 million[2]': 4000000.0,
 '$2 million[2]': 2000000.0,
 '$300,000': 300000.0,
 '$1.8 million[2]': 1800000.0,
 '$5 million[1]': 5000000.0,
 '$4 million[1]': 4000000.0,
 '$700,000[1]': 700000.0,
 '$6 million[2]': 6000000.0,
 'under $1 million[1] or $1,250,000[2]': 1000000.0,
 '$2 million[1]': 2000000.0,
 '$2.5 million[1]': 2500000.0,
 '$4 million': 4000000.0,
 '$3.6 million[1]': 3600000.0,
 '$3 million[2]': 3000000.0,
 '$3 million[1]': 3000000.0,
 '$4.4–6 million[4]': 4400000.0,
 '$6.3 million[3]': 6300000.0,
 '$8 million[1]': 8000000.0,
 'AU$1 million[2]': 1000000.0,
 '$7.5 million[1]': 7500000.0,
 '$10 million[1]': 10000000.0,
 '$3.5 to 4 million[2]': 3500000.0,
 '$5.25 million[2]': 5250000.0,
 '$20 million': 20000000.0,
 '$9 million[1]': 9000000.0,
 '$6-8 million[2]': 6000000.0,
 '$20 million[1]': 20000000.0,
 '$18 million[1]': 18000000.0,
 '$12 million[1]': 12000000.0,
 '$14 million': 14000000.0,
 'US$17 million': 17000000.0,
 'unknown': 'unknown',
 '$19 million (estimated)[citation needed]': 19000000.0,
 '$11 million': 11000000.0,
 '$28 million[1]': 28000000.0,
 '$25–44 million[5][6]': 25000000.0,
 '$14 million[1]': 14000000.0,
 '$9 million[4]': 9000000.0,
 'A$8.7 million[1]': 8700000.0,
 '$31 million[1]': 31000000.0,
 '$18 million[citation needed]': 18000000.0,
 '$5 million': 5000000.0,
 '$40 million[2]': 40000000.0,
 '$20 million[2]': 20000000.0,
 '60 million Norwegian Kroner (around $8.7 million in 1989)': 60000000.0,
 '$35-40 million[2][3]': 35000000.0,
 '$25 million[5]': 25000000.0,
 '$15 million': 15000000.0,
 '$40 million[citation needed]': 40000000.0,
 '$28 million[4]': 28000000.0,
 '$12 million': 12000000.0,
 '$6.5 million': 6500000.0,
 '$28 million': 28000000.0,
 '$17 million': 17000000.0,
 '$30 million': 30000000.0,
 '$13 million': 13000000.0,
 '$45 million[2]': 45000000.0,
 '$22 million[1]': 22000000.0,
 '$30 million[4]': 30000000.0,
 '$22 million': 22000000.0,
 '$32 million(estimated)': 32000000.0,
 '$55 million[2]': 55000000.0,
 '$24 million[citation needed]': 24000000.0,
 '$30 million[2]': 30000000.0,
 '$31 million': 31000000.0,
 '$38 million': 38000000.0,
 '$100 million[2]': 100000000.0,
 '$75 million[4]': 75000000.0,
 '$32 million': 32000000.0,
 '$85 million[3]': 85000000.0,
 '$55 million[1]': 55000000.0,
 '$3 million': 3000000.0,
 '$16 million': 16000000.0,
 '$80 million[2]': 80000000.0,
 '$24 million': 24000000.0,
 '$90 million[1]': 90000000.0,
 '$15 million[4]': 15000000.0,
 '$30 million[1]': 30000000.0,
 '$120 million[1]': 120000000.0,
 '$65 million[1]': 65000000.0,
 '$130 million[1]': 130000000.0,
 '$90 million[3]': 90000000.0,
 '$10 million': 10000000.0,
 '$80–$85 million[1][2]': 80000000.0,
 '$15 million[3][4]–$30 million[5]': 15000000.0,
 '$127.5 million[1]': 127500000.0,
 '$65 million[2]': 65000000.0,
 '$85 million': 85000000.0,
 '$100 million': 100000000.0,
 '$23 million[2]': 23000000.0,
 '$90–120 million[2][3][4][nb 1]': 90000000.0,
 '$26 million': 26000000.0,
 '$25 million[1]': 25000000.0,
 '$115 million[1]': 115000000.0,
 '$33 million': 33000000.0,
 '$20 million[3]': 20000000.0,
 '$80 million[1]': 80000000.0,
 '$35 million': 35000000.0,
 '$15 million[citation needed]': 15000000.0,
 '$65 million[1][2]': 65000000.0,
 '$140 million[1]': 140000000.0,
 '$46 million[3]': 46000000.0,
 '$13 million[1]': 13000000.0,
 '$17 million[1]': 17000000.0,
 '$94 million[1]': 94000000.0,
 '$140 million[2]': 140000000.0,
 '$26 million[1]': 26000000.0,
 '$46 million[1]': 46000000.0,
 '$90 million[2]': 90000000.0,
 '$110 million[1]': 110000000.0,
 '$92 million[3]': 92000000.0,
 '$100 million[1]': 100000000.0,
 '$56 million[2]': 56000000.0,
 '$50 million': 50000000.0,
 '$35 million[2]': 35000000.0,
 '$35 million[1]': 35000000.0,
 '$150 million[4]': 150000000.0,
 '$180 million[2]': 180000000.0,
 '$1 million[1]': 1000000.0,
 '$40 million': 40000000.0,
 '$50 million[1]': 50000000.0,
 '$80 million[4]': 80000000.0,
 '$225 million[2]': 225000000.0,
 '$20–25 million[3][4]': 20000000.0,
 '$300 million[2]': 300000000.0,
 '$150 million[1]': 150000000.0,
 '$25 million[3]': 25000000.0,
 '$85 million[2]': 85000000.0,
 '$7 million': 7000000.0,
 '$225 million[1]': 225000000.0,
 '$11 million[2]': 11000000.0,
 '$30 million[3]': 30000000.0,
 '$47 million': 47000000.0,
 '$175 million[2]': 175000000.0,
 '$8 million (₽350 million)[1]': 8000000.0,
 '$175-200 million[2][3]': 175000000.0,
 '$105 million[2]': 105000000.0,
 '$150[2][3]–$200[4] million': 150000000.0,
 '$80 million': 80000000.0,
 '$150  million[1]': 150000000.0,
 '$200 million[1]': 200000000.0,
 '$35 million[1][2]': 35000000.0,
 '$260 million[5][6]': 260000000.0,
 '$150 million[3][4]': 150000000.0,
 '₹27 crore (US$3.8 million)': 27000000.0,
 '$150 million[1][2]': 150000000.0,
 '$5 million[2]': 5000000.0,
 "['$410.6 million (gross)', '$378.5 million (net)[2]']": 410600000.0,
 '$45 million[3][4]': 45000000.0,
 "['$306.6 million (gross)[2]', '$263.7 million (net)[2]']": 306600000.0,
 '$185 million[1]': 185000000.0,
 '$25 million[2][3]': 25000000.0,
 '$39 million[2]': 39000000.0,
 '$165 million[5]': 165000000.0,
 '$200–215 million[2][3]': 200000000.0,
 '$200 million[2][3][4]': 200000000.0,
 '$225–250 million[2]': 225000000.0,
 '$50 million[8]': 50000000.0,
 '$51 million[2][3]': 51000000.0,
 '$5 million[3]': 5000000.0,
 '$25 million[2]': 25000000.0,
 '$180–263 million[2]': 180000000.0,
 '$50 million[3][4]': 50000000.0,
 '$28 million[3]': 28000000.0,
 '$165 million[3][4]': 165000000.0,
 '$50 million[2]': 50000000.0,
 '$95–100 million[5][6]': 95000000.0,
 '$5–10 million[3]': 5000000.0,
 '$180–190 million[3][4]': 180000000.0,
 '$175 million[4]': 175000000.0,
 '₹520 million[1]': 7111597.37417943,
 '$175 million[5]': 175000000.0,
 '$70–80 million[2][3]': 70000000.0,
 '$175–177 million[2][3]': 175000000.0,
 '$170 million[2]': 170000000.0,
 '$175–200 million[3]': 175000000.0,
 '$140 million[7]': 140000000.0,
 '$15 million[2][3]': 15000000.0,
 '$150–175 million[2][3]': 150000000.0,
 '₹70 crore[3]': 'crore',
 '$8 million[2]': 8000000.0,
 '$160–255 million[4][5][6]': 160000000.0,
 '$230–320 million[4]': 230000000.0,
 '$175 million[3]': 175000000.0,
 '₹1.31 billion[2]': 'billion',
 '$175 million[6]': 175000000.0,
 '$100–130 million[2][3][4]': 100000000.0,
 '$200 million[2][3]': 200000000.0,
 '$75 million[3][4]': 75000000.0,
 '$120–133 million[2][3]': 120000000.0,
 '$130 million[3]': 130000000.0,
 '$170 million[4][5][6]': 170000000.0,
 '$183 million[6]': 183000000.0,
 '$200 million[5]': 200000000.0,
 '$250–260 million[3][4]': 250000000.0,
 '$185 million[4]': 185000000.0,
 '$60 million[4]': 60000000.0,
 '$150 million[5]': 150000000.0,
 '$42 million[3]': 42000000.0,
 '$175–200 million[4]': 175000000.0,
 '$125 million[2]': 125000000.0,
 '$12.5 million (stage production)[4]': 12500000.0,
 '$24 million[3]': 24000000.0,
 '$200 million[3]': 200000000.0}

In [52]:
for_budget = df['Budget'].replace(dict(zip(list(df['Budget'].unique()), l)))

In [53]:
str_=[]
for i in for_budget:
    try:
        float(i)
    except:
        str_.append(i)

In [54]:
print(str_)
print(for_budget[for_budget==str_[1]])
print(for_budget[for_budget==str_[2]])

['unknown', 'crore', 'billion']
Dangal    crore
Name: Budget, dtype: object
Jagga Jasoos    billion
Name: Budget, dtype: object

In [55]:
# inr : us = 1 : 73.12
to_replace = []
to_replace.append(np.NaN)
to_replace.append((float(re.findall('\d+\.?\d*', df['Budget']['Dangal'])[0]) * 10000000) / 73.12) # seven zeros in crore
to_replace.append((float(re.findall('\d+\.?\d*', df['Budget']['Jagga Jasoos'])[0]) * 1000000000) / 73.12) # nine zeros in a billion

In [56]:
for_budget = for_budget.replace(dict(zip(str_,to_replace)))

In [57]:
df['budget'] = for_budget

# Box Office

In [59]:
nums = []
for i in df['Box office']:
    if type(i) == str:
        nums.append(i.replace('\xa0', ' '))
    else:
        nums.append(i)
df['Box office'] = nums

In [60]:
df['Box office'].unique()

array(['$45.472', '$418 million[2]', '$164 million',
       '$76.4–$83.3 million[4][5]', '$960,000 (worldwide rentals) [3]',
       '$1.3 million (est. United States/Canada rentals, 1941)[3]',
       '$267.4 million[3]', '$1,135,000 (worldwide rentals) [2]',
       '$799,000', '$3,355,000 (worldwide rentals) [2]',
       '$3.275 million (worldwide rentals)[3]', '$65 million[4]',
       '$3,165,000 (worldwide rentals)[1]',
       '$2,560,000 (worldwide rentals) [2]',
       '$3.7 million (U.S. rental) $575,000 (foreign rental) [3][4]',
       '$1,625,000 (worldwide rentals)[1]', '$263.6 million[5]',
       '$4,100,000 (worldwide rentals) [3]', '$5.6 million (US, 1951)',
       '$2.1 million (US rentals)[3]', '$87.4 million[2]',
       '$1 million (US)[3]', '$2.6 million (US)[1]', nan,
       '$1.75 million (US and Canadian rentals)[1]', '$28.2 million[2]',
       '$2,150,000 (US)[1]', '$187 million[2]', '$2.1 million (US)[2]',
       '$1.6 million (US)[1]', '$1.7 million (US)[2]',
       '$2.75 million (US)[1]', '$1.75 million (US rentals)[1]',
       '$6,250,000 (US/Canada rentals)[1]',
       '$1.8 million (est. US/ Canada rentals)[1]',
       '$2.5 million (est. US/ Canada rentals)[1]',
       '$51.6 million (United States/Canada)[3]',
       '$12.3 million (US and Canada rentals)[3]',
       'Original release:$2.6 million (est. US/ Canada rentals)[2]1969 re-release:$2.3 million  (US/ Canada rentals)[3]',
       '$1,700,000 (US/Canada rentals)[2]',
       '$3,100,000 (US/Canada rentals)[3]',
       '$3.75 million (US and Canadian rentals)[2]',
       '$2.3 million (US and Canadian rentals)[1]', '$40 million',
       '$303 million[2]', '$25.4 million', '$25.1 million',
       '$4.6 million (US/Canada rentals)[3]', '$3.5 million[1]',
       '$5 million (rentals)[2]', '$21,745,500[1]', '$22.1 million[1]',
       '$2,550,000 (US/ Canada)[1]', '$3,000,000 (US/ Canada)[1]',
       '$4,350,000 (US/ Canada rentals) [1]',
       '$4.2 million (US/Canada) (rentals)[1]', '$22.2 million[2]',
       'est. $1,600,000 (US/ Canada)[1]', '$4,000,000 (US/ Canada)[2]',
       '$2,250,000 (US/ Canada)[1]', 'est. $3,500,000 (US/ Canada)[1]',
       '$103.1 million[5]', '$1,275,000[1]',
       '$3,500,000 (US/ Canada rentals)[1]',
       '$4,000,000 (US/Canada rentals)[2]', '$28,068,222[1]',
       '$6.2 million (est. US/ Canada rentals)[1]', '$22,565,634[2]',
       '$16,207,116[1]', '$3,000,000 (US/ Canada)[2]',
       '$1,900,000 (US/ Canada)[1]', '$378 million[2]',
       '$5 million (US/ Canada rentals)[2]', '$21,540,050[1]',
       '$4,150,000 (US/ Canada rentals)[1]',
       '$3.3 million  (US/ Canada rentals)[1]', '$51,264,000[2]',
       '$1.3 million (US/ Canada rentals)[1]',
       '$5.5 million (US/ Canada rentals)[1]', '$18,607,492[1]',
       '$4 million (rentals) (US/Canada)[2]', '$191 million[2]',
       '$5.1 million (North America) (rentals)[1]', '$17.9 million[4]',
       '$4,610,000 (US/Canada) (rentals)[1]',
       '$6,100,000 (US/ Canada rentals)[1]', '$22,583,370[2]',
       '$32 million[2]', '$7 million (US/Canada rentals)[1]',
       '$38,229,000 (US/Canada gross)[1]$30.8 million (worldwide rentals)',
       '$4 million (rentals) (US/Canada)[1]',
       '$10 million (US/Canada rentals)[2]',
       '$6.6 million (US/Canada rentals)[1]', '$20,000,000[1]',
       '$36,853,000[2]', '$5.5 million (North American rentals)[1]',
       '$21,873,000', '$10.5 million (US and Canada rentals)[1]',
       '$36 million[2]', '$169 million[2]', '$29 million[1]',
       '$36[1]–39.6 million[2]', '$20,931,111[1]',
       '$35.8 million(domestic)[1]', '$2.9 million[1]', '$5 million[2]',
       '$18 million[2]', '$11 million[3]', '$60 million[2]',
       '$16 million (USA)[2]', '$14.1 million', '$63.5 million[2]',
       '$8 million[1]', 'US$50 million[1]', '$7.4 million[2]',
       '$4,304,286 (US)[1]', '$8.4 million', '$27.6 million',
       '$11.1 million (USA)', '$21.3 million (domestic)[3]',
       '$9.7 million (U.S. and Canada only)[1]', '$13,677,222[1]',
       '$38.7 million[1]', '$18,564,613', '$22.3 million', '$13,687,027',
       '>$121 million', '$222.7 million[1]',
       '$8,153,677 (United States)[1]', '$233 million[3]',
       '$18.1 million[5]', '$47.4 million[1]', '$34.8 million[1]',
       '$15.1 million', '$7.3 million', '$46.7 million[4][3](USA)',
       '$440.1 million[5]', '$2.8 million', '$58.7 million[2]',
       '$50.8 million[2]', '$504.1 million[4]',
       '$27.2 million (North America)[3]', '$41.8 million',
       '$12.9 million[1]', '$24.1 million', '$41.4 million[2]',
       '$154.9 million', '$53.9 million', '$21 million[1]',
       '$30.6 million[2]', '$45.6 million', '$8,878,839 (US)[1]',
       '$968.5 million[2]', '$50.2 million[1]', '$3,337,685[1]',
       '$189.8 million[1]', '$43.2 million[5]', '$17.6 million[1]',
       '$40,070,995', '$11 million', '$35.3 million[6]',
       '$346.1 million[1]', '$24,670,346[1]',
       '$13.4 million (domestic)[1]', '$17.7 million',
       '$373.6 million[3]', '$23.9 million[1]',
       '$34.3 million (North America)[1]', '$32.7 million',
       '$28.9 million (U.S.)[2]', '$325.3 million[2]', '$26,491,793',
       '$22.9 million[1]', '$320.7 million[3]', '$18.3 million[3]',
       '$59.9 million', '$252.7 million[3]', '$174.4 million',
       '$27.8 million[2]', '$15.4 million', '$178 million[3]',
       '$28.9 million[1]', '$4.4 million[2]', '$304.3 million[2]',
       '$92.1 million[5]', '$12.2 million[1]', '$363.3 million[1]',
       '$50.6 million (US)[1]', '$36.8 million[1]', '$19.4 million[1]',
       '$448.2 million[1]', '$134.4 million[3]',
       '$6.2 million (North America)[2]', '$497.4 million[3]',
       '$90.9 million[1]', '$96.2 million[5]', '$349.8 million[1]',
       '$110.3 million[2]', '$136.7 million[1]', '$183.6 million[1]',
       '$169.3 million', '$44.5 million[2]', '$186.1 million[4]',
       '$165.3 million[2]', '$18.6 million[1]', '$577.4 million[1]',
       '$115 million', '$115.1 million[3]', '$80.7 million[1]',
       '$273.1 million[1]', '$18 million[1]', '$19.3 million[1]',
       '$172.9 million[1]', '$109.6 million[1]', '$135.7 million[2]',
       '$62.9 million[4]', '$28.7 million[2]', '$71.4 million[1]',
       '$55.5 million[2]', '$940.3 million[1]', '$654.3 million[2]',
       '$160.8 million[2]', '$250.4 million[2]', '$182.3 million[2]',
       '$9,638,389', '$6.5 million[1]', '$64.5 million[1]',
       '$33.1 million[1]', '$145.5 million[1]', '$1,108,356',
       '$72.2 million[1]', '$314,402', '$134.7 million[3]',
       '$633 million[3]', '$347.5 million[1]', '$9 million[2]',
       '$52.9 million[3]', '$198.6 million[2]', '$144.1 million',
       '$86.4 million[3]', '$61.7 million[1]', '$15.4 million[1]',
       '$314.4 million[4]', '$745 million[2]', '$42.9 million[1]',
       '$11 million[2]', '$120.5 million', '$87.1 million[1]',
       '$102.3 million[5]', '$462 million[1]', '$1.066 billion[2]',
       '$58.5 million', '$110.8 million[2]', '$138 million[4]',
       '$169.3 million[3]', '$961 million[2]', '$620.7 million[2]',
       '$65.3 million[4]', '$146.6 million[1]', '$340.5 million[3]',
       '$459.2 million[2]', '$70.6 million[1]', '$51.5 million',
       '$419.7 million[2]', '$533.3 million[3]', '$149.3 million',
       '$275,776[1]', '$252.9 million[2]', '$310 million[1]',
       '$212.9 million[2]', '$23.1 million[3]', '$106.4 million[2]',
       '$169.2  million [3]', '$109 million[2]', '$735.1 million[1]',
       '$292.8 million[1]', '$11.3 million[2]', '$325 million[3]',
       '$96.8 million[1]', '$269 million[1][3]', '$1.025 billion[5]',
       '$84,918', '$82.7 million[1]', '$336.4 million[2]',
       '$1.067 billion[1]', '$215.3 million[2]', '$60.3 million[2]',
       '$592.4 million[6]', '$55,513[1]', '$410 million[4][5]',
       '₹38.5 crore (US$5.4 million)', '$39.2 million[1]',
       '$30.9 million[3]', '$10.1 million[2]', '$1.046 billion[3]',
       '$562.1 million[2]', '$50.1 million[3]', '$165.2 million[5]',
       '$284.1 million[3]', '$34.8 million[2]', '$540.4 million[2]',
       '$56 million[4]', '$81.5 million[2]', '$471.2 million[5]',
       '$493.3 million[4]', '$743.6 million[5]', '$260.5 million[3]',
       '$239.3 million[8]', '$1.280 billion[4]', '$117.9 million[3]',
       '$80.4 million[3]', '$21.3 million[4]', '$39.2 million[3]',
       '$758.5 million[1]', '$147 million[3]', '$100.7 million[4]',
       '$657.8 million[4]', '$213.1 million[3]', '$45.7 million[2]',
       '$542.4 million[5]', '$17.1 million[4]', '$209 million[4]',
       '$858 million[3]', 'est. ₹1.65 billion[1]', '$332.2 million[6]',
       '$52.1 million[4]', '$1.024 billion[5]', '$966.6 million[4]',
       '$300 million[1]', '$1.029 billion[4]', '$195.2 million[8]',
       '$143.7 million[2]', '$10.4 million[3]', '$690.8 million[1]',
       'est. ₹2,024–2,100 crore[4][5][6][7]  ($311–340 million)[8]',
       '$127.4 million[3]', '$1.264 billion[4]', '$794.9 million[5]',
       '$383.9 million[4]', '₹833.5 million[3]', '$807.1 million[7]',
       '$133.4 million[5][6]', '$1.243 billion[1]', '$197.7 million[5]',
       '$174 million[4]', '$529.3 million[4]', '$349.5 million[4]',
       '$353.3 million[7]', '$7.7\n million[3]', '$1.051 billion[6]',
       '$1.073 billion[6][7]', '$1.657 billion[5]', '$491.7 million[3]',
       '$1.450 billion[5][6]', '$144.9 million[5]', '$66.8 million[4][5]'],
      dtype=object)

In [61]:
l=[]
for i in df['Box office'].unique():
    try:
        
        if ('–' in i or '-' in val or 'to' in val) and 'million' in i:
            l.append(float(re.findall('\$\d*\.?\d*', i)[0].strip('$'))*1000000)


                
        elif 'million' in re.findall('[a-zA-Z]{1,10}', i):
            try:
                z=re.findall('\d+\.?\d*\s*million', i)
                ans = (float(re.findall('\d+\.?\d*',z[0])[0])*1000000)

                if '$' in i:    
                    l.append(ans)
                elif '₹' in i:
                    l.append(ans/73.12)
            except:
                l.append(i)
        
        
        
        elif 'billion' in re.findall('[a-zA-Z]{1,10}', i):
            try:
                l.append(float(i.split('billion')[0].strip('$'))*1000000000)
            except:
                l.append(i)

                
        elif re.findall('[A-Za-z]+',i) != None:
            l.append(float(re.findall('\d+',i.replace(',', ''))[0]))
        
        else:
            l.append(re.findall('[a-zA-Z]{1,10}', i)[0])
    
    except:
        try:
            l.append(float(i.strip('$').split('[')[0].replace(',', '')))
        except:
            l.append(i)

In [62]:
dict(zip(df['Box office'].unique(), l))

{'$45.472': 45.0,
 '$418 million[2]': 418000000.0,
 '$164 million': 164000000.0,
 '$76.4–$83.3 million[4][5]': 76400000.0,
 '$960,000 (worldwide rentals) [3]': 960000.0,
 '$1.3 million (est. United States/Canada rentals, 1941)[3]': 1300000.0,
 '$267.4 million[3]': 267399999.99999997,
 '$1,135,000 (worldwide rentals) [2]': 1135000.0,
 '$799,000': 799000.0,
 '$3,355,000 (worldwide rentals) [2]': 3355000.0,
 '$3.275 million (worldwide rentals)[3]': 3275000.0,
 '$65 million[4]': 65000000.0,
 '$3,165,000 (worldwide rentals)[1]': 3165000.0,
 '$2,560,000 (worldwide rentals) [2]': 2560000.0,
 '$3.7 million (U.S. rental) $575,000 (foreign rental) [3][4]': 3700000.0,
 '$1,625,000 (worldwide rentals)[1]': 1625000.0,
 '$263.6 million[5]': 263600000.00000003,
 '$4,100,000 (worldwide rentals) [3]': 4100000.0,
 '$5.6 million (US, 1951)': 5600000.0,
 '$2.1 million (US rentals)[3]': 2100000.0,
 '$87.4 million[2]': 87400000.0,
 '$1 million (US)[3]': 1000000.0,
 '$2.6 million (US)[1]': 2600000.0,
 nan: nan,
 '$1.75 million (US and Canadian rentals)[1]': 1750000.0,
 '$28.2 million[2]': 28200000.0,
 '$2,150,000 (US)[1]': 2150000.0,
 '$187 million[2]': 187000000.0,
 '$2.1 million (US)[2]': 2100000.0,
 '$1.6 million (US)[1]': 1600000.0,
 '$1.7 million (US)[2]': 1700000.0,
 '$2.75 million (US)[1]': 2750000.0,
 '$1.75 million (US rentals)[1]': 1750000.0,
 '$6,250,000 (US/Canada rentals)[1]': 6250000.0,
 '$1.8 million (est. US/ Canada rentals)[1]': 1800000.0,
 '$2.5 million (est. US/ Canada rentals)[1]': 2500000.0,
 '$51.6 million (United States/Canada)[3]': 51600000.0,
 '$12.3 million (US and Canada rentals)[3]': 12300000.0,
 'Original release:$2.6 million (est. US/ Canada rentals)[2]1969 re-release:$2.3 million  (US/ Canada rentals)[3]': 2600000.0,
 '$1,700,000 (US/Canada rentals)[2]': 1700000.0,
 '$3,100,000 (US/Canada rentals)[3]': 3100000.0,
 '$3.75 million (US and Canadian rentals)[2]': 3750000.0,
 '$2.3 million (US and Canadian rentals)[1]': 2300000.0,
 '$40 million': 40000000.0,
 '$303 million[2]': 303000000.0,
 '$25.4 million': 25400000.0,
 '$25.1 million': 25100000.0,
 '$4.6 million (US/Canada rentals)[3]': 4600000.0,
 '$3.5 million[1]': 3500000.0,
 '$5 million (rentals)[2]': 5000000.0,
 '$21,745,500[1]': 21745500.0,
 '$22.1 million[1]': 22100000.0,
 '$2,550,000 (US/ Canada)[1]': 2550000.0,
 '$3,000,000 (US/ Canada)[1]': 3000000.0,
 '$4,350,000 (US/ Canada rentals) [1]': 4350000.0,
 '$4.2 million (US/Canada) (rentals)[1]': 4200000.0,
 '$22.2 million[2]': 22200000.0,
 'est. $1,600,000 (US/ Canada)[1]': 1600000.0,
 '$4,000,000 (US/ Canada)[2]': 4000000.0,
 '$2,250,000 (US/ Canada)[1]': 2250000.0,
 'est. $3,500,000 (US/ Canada)[1]': 3500000.0,
 '$103.1 million[5]': 103100000.0,
 '$1,275,000[1]': 1275000.0,
 '$3,500,000 (US/ Canada rentals)[1]': 3500000.0,
 '$4,000,000 (US/Canada rentals)[2]': 4000000.0,
 '$28,068,222[1]': 28068222.0,
 '$6.2 million (est. US/ Canada rentals)[1]': 6200000.0,
 '$22,565,634[2]': 22565634.0,
 '$16,207,116[1]': 16207116.0,
 '$3,000,000 (US/ Canada)[2]': 3000000.0,
 '$1,900,000 (US/ Canada)[1]': 1900000.0,
 '$378 million[2]': 378000000.0,
 '$5 million (US/ Canada rentals)[2]': 5000000.0,
 '$21,540,050[1]': 21540050.0,
 '$4,150,000 (US/ Canada rentals)[1]': 4150000.0,
 '$3.3 million  (US/ Canada rentals)[1]': 3300000.0,
 '$51,264,000[2]': 51264000.0,
 '$1.3 million (US/ Canada rentals)[1]': 1300000.0,
 '$5.5 million (US/ Canada rentals)[1]': 5500000.0,
 '$18,607,492[1]': 18607492.0,
 '$4 million (rentals) (US/Canada)[2]': 4000000.0,
 '$191 million[2]': 191000000.0,
 '$5.1 million (North America) (rentals)[1]': 5100000.0,
 '$17.9 million[4]': 17900000.0,
 '$4,610,000 (US/Canada) (rentals)[1]': 4610000.0,
 '$6,100,000 (US/ Canada rentals)[1]': 6100000.0,
 '$22,583,370[2]': 22583370.0,
 '$32 million[2]': 32000000.0,
 '$7 million (US/Canada rentals)[1]': 7000000.0,
 '$38,229,000 (US/Canada gross)[1]$30.8 million (worldwide rentals)': 30800000.0,
 '$4 million (rentals) (US/Canada)[1]': 4000000.0,
 '$10 million (US/Canada rentals)[2]': 10000000.0,
 '$6.6 million (US/Canada rentals)[1]': 6600000.0,
 '$20,000,000[1]': 20000000.0,
 '$36,853,000[2]': 36853000.0,
 '$5.5 million (North American rentals)[1]': 5500000.0,
 '$21,873,000': 21873000.0,
 '$10.5 million (US and Canada rentals)[1]': 10500000.0,
 '$36 million[2]': 36000000.0,
 '$169 million[2]': 169000000.0,
 '$29 million[1]': 29000000.0,
 '$36[1]–39.6 million[2]': 36000000.0,
 '$20,931,111[1]': 20931111.0,
 '$35.8 million(domestic)[1]': 35800000.0,
 '$2.9 million[1]': 2900000.0,
 '$5 million[2]': 5000000.0,
 '$18 million[2]': 18000000.0,
 '$11 million[3]': 11000000.0,
 '$60 million[2]': 60000000.0,
 '$16 million (USA)[2]': 16000000.0,
 '$14.1 million': 14100000.0,
 '$63.5 million[2]': 63500000.0,
 '$8 million[1]': 8000000.0,
 'US$50 million[1]': 50000000.0,
 '$7.4 million[2]': 7400000.0,
 '$4,304,286 (US)[1]': 4304286.0,
 '$8.4 million': 8400000.0,
 '$27.6 million': 27600000.0,
 '$11.1 million (USA)': 11100000.0,
 '$21.3 million (domestic)[3]': 21300000.0,
 '$9.7 million (U.S. and Canada only)[1]': 9700000.0,
 '$13,677,222[1]': 13677222.0,
 '$38.7 million[1]': 38700000.0,
 '$18,564,613': 18564613.0,
 '$22.3 million': 22300000.0,
 '$13,687,027': 13687027.0,
 '>$121 million': 121000000.0,
 '$222.7 million[1]': 222700000.0,
 '$8,153,677 (United States)[1]': 8153677.0,
 '$233 million[3]': 233000000.0,
 '$18.1 million[5]': 18100000.0,
 '$47.4 million[1]': 47400000.0,
 '$34.8 million[1]': 34800000.0,
 '$15.1 million': 15100000.0,
 '$7.3 million': 7300000.0,
 '$46.7 million[4][3](USA)': 46700000.0,
 '$440.1 million[5]': 440100000.0,
 '$2.8 million': 2800000.0,
 '$58.7 million[2]': 58700000.0,
 '$50.8 million[2]': 50800000.0,
 '$504.1 million[4]': 504100000.0,
 '$27.2 million (North America)[3]': 27200000.0,
 '$41.8 million': 41800000.0,
 '$12.9 million[1]': 12900000.0,
 '$24.1 million': 24100000.0,
 '$41.4 million[2]': 41400000.0,
 '$154.9 million': 154900000.0,
 '$53.9 million': 53900000.0,
 '$21 million[1]': 21000000.0,
 '$30.6 million[2]': 30600000.0,
 '$45.6 million': 45600000.0,
 '$8,878,839 (US)[1]': 8878839.0,
 '$968.5 million[2]': 968500000.0,
 '$50.2 million[1]': 50200000.0,
 '$3,337,685[1]': 3337685.0,
 '$189.8 million[1]': 189800000.0,
 '$43.2 million[5]': 43200000.0,
 '$17.6 million[1]': 17600000.0,
 '$40,070,995': 40070995.0,
 '$11 million': 11000000.0,
 '$35.3 million[6]': 35300000.0,
 '$346.1 million[1]': 346100000.0,
 '$24,670,346[1]': 24670346.0,
 '$13.4 million (domestic)[1]': 13400000.0,
 '$17.7 million': 17700000.0,
 '$373.6 million[3]': 373600000.0,
 '$23.9 million[1]': 23900000.0,
 '$34.3 million (North America)[1]': 34300000.0,
 '$32.7 million': 32700000.000000004,
 '$28.9 million (U.S.)[2]': 28900000.0,
 '$325.3 million[2]': 325300000.0,
 '$26,491,793': 26491793.0,
 '$22.9 million[1]': 22900000.0,
 '$320.7 million[3]': 320700000.0,
 '$18.3 million[3]': 18300000.0,
 '$59.9 million': 59900000.0,
 '$252.7 million[3]': 252700000.0,
 '$174.4 million': 174400000.0,
 '$27.8 million[2]': 27800000.0,
 '$15.4 million': 15400000.0,
 '$178 million[3]': 178000000.0,
 '$28.9 million[1]': 28900000.0,
 '$4.4 million[2]': 4400000.0,
 '$304.3 million[2]': 304300000.0,
 '$92.1 million[5]': 92100000.0,
 '$12.2 million[1]': 12200000.0,
 '$363.3 million[1]': 363300000.0,
 '$50.6 million (US)[1]': 50600000.0,
 '$36.8 million[1]': 36800000.0,
 '$19.4 million[1]': 19400000.0,
 '$448.2 million[1]': 448200000.0,
 '$134.4 million[3]': 134400000.0,
 '$6.2 million (North America)[2]': 6200000.0,
 '$497.4 million[3]': 497400000.0,
 '$90.9 million[1]': 90900000.0,
 '$96.2 million[5]': 96200000.0,
 '$349.8 million[1]': 349800000.0,
 '$110.3 million[2]': 110300000.0,
 '$136.7 million[1]': 136700000.0,
 '$183.6 million[1]': 183600000.0,
 '$169.3 million': 169300000.0,
 '$44.5 million[2]': 44500000.0,
 '$186.1 million[4]': 186100000.0,
 '$165.3 million[2]': 165300000.0,
 '$18.6 million[1]': 18600000.0,
 '$577.4 million[1]': 577400000.0,
 '$115 million': 115000000.0,
 '$115.1 million[3]': 115100000.0,
 '$80.7 million[1]': 80700000.0,
 '$273.1 million[1]': 273100000.0,
 '$18 million[1]': 18000000.0,
 '$19.3 million[1]': 19300000.0,
 '$172.9 million[1]': 172900000.0,
 '$109.6 million[1]': 109600000.0,
 '$135.7 million[2]': 135700000.0,
 '$62.9 million[4]': 62900000.0,
 '$28.7 million[2]': 28700000.0,
 '$71.4 million[1]': 71400000.0,
 '$55.5 million[2]': 55500000.0,
 '$940.3 million[1]': 940300000.0,
 '$654.3 million[2]': 654300000.0,
 '$160.8 million[2]': 160800000.0,
 '$250.4 million[2]': 250400000.0,
 '$182.3 million[2]': 182300000.0,
 '$9,638,389': 9638389.0,
 '$6.5 million[1]': 6500000.0,
 '$64.5 million[1]': 64500000.0,
 '$33.1 million[1]': 33100000.0,
 '$145.5 million[1]': 145500000.0,
 '$1,108,356': 1108356.0,
 '$72.2 million[1]': 72200000.0,
 '$314,402': 314402.0,
 '$134.7 million[3]': 134700000.0,
 '$633 million[3]': 633000000.0,
 '$347.5 million[1]': 347500000.0,
 '$9 million[2]': 9000000.0,
 '$52.9 million[3]': 52900000.0,
 '$198.6 million[2]': 198600000.0,
 '$144.1 million': 144100000.0,
 '$86.4 million[3]': 86400000.0,
 '$61.7 million[1]': 61700000.0,
 '$15.4 million[1]': 15400000.0,
 '$314.4 million[4]': 314400000.0,
 '$745 million[2]': 745000000.0,
 '$42.9 million[1]': 42900000.0,
 '$11 million[2]': 11000000.0,
 '$120.5 million': 120500000.0,
 '$87.1 million[1]': 87100000.0,
 '$102.3 million[5]': 102300000.0,
 '$462 million[1]': 462000000.0,
 '$1.066 billion[2]': 1066000000.0,
 '$58.5 million': 58500000.0,
 '$110.8 million[2]': 110800000.0,
 '$138 million[4]': 138000000.0,
 '$169.3 million[3]': 169300000.0,
 '$961 million[2]': 961000000.0,
 '$620.7 million[2]': 620700000.0,
 '$65.3 million[4]': 65300000.0,
 '$146.6 million[1]': 146600000.0,
 '$340.5 million[3]': 340500000.0,
 '$459.2 million[2]': 459200000.0,
 '$70.6 million[1]': 70600000.0,
 '$51.5 million': 51500000.0,
 '$419.7 million[2]': 419700000.0,
 '$533.3 million[3]': 533299999.99999994,
 '$149.3 million': 149300000.0,
 '$275,776[1]': 275776.0,
 '$252.9 million[2]': 252900000.0,
 '$310 million[1]': 310000000.0,
 '$212.9 million[2]': 212900000.0,
 '$23.1 million[3]': 23100000.0,
 '$106.4 million[2]': 106400000.0,
 '$169.2  million [3]': 169200000.0,
 '$109 million[2]': 109000000.0,
 '$735.1 million[1]': 735100000.0,
 '$292.8 million[1]': 292800000.0,
 '$11.3 million[2]': 11300000.0,
 '$325 million[3]': 325000000.0,
 '$96.8 million[1]': 96800000.0,
 '$269 million[1][3]': 269000000.0,
 '$1.025 billion[5]': 1024999999.9999999,
 '$84,918': 84918.0,
 '$82.7 million[1]': 82700000.0,
 '$336.4 million[2]': 336400000.0,
 '$1.067 billion[1]': 1067000000.0,
 '$215.3 million[2]': 215300000.0,
 '$60.3 million[2]': 60300000.0,
 '$592.4 million[6]': 592400000.0,
 '$55,513[1]': 55513.0,
 '$410 million[4][5]': 410000000.0,
 '₹38.5 crore (US$5.4 million)': 5400000.0,
 '$39.2 million[1]': 39200000.0,
 '$30.9 million[3]': 30900000.0,
 '$10.1 million[2]': 10100000.0,
 '$1.046 billion[3]': 1046000000.0,
 '$562.1 million[2]': 562100000.0,
 '$50.1 million[3]': 50100000.0,
 '$165.2 million[5]': 165200000.0,
 '$284.1 million[3]': 284100000.0,
 '$34.8 million[2]': 34800000.0,
 '$540.4 million[2]': 540400000.0,
 '$56 million[4]': 56000000.0,
 '$81.5 million[2]': 81500000.0,
 '$471.2 million[5]': 471200000.0,
 '$493.3 million[4]': 493300000.0,
 '$743.6 million[5]': 743600000.0,
 '$260.5 million[3]': 260500000.0,
 '$239.3 million[8]': 239300000.0,
 '$1.280 billion[4]': 1280000000.0,
 '$117.9 million[3]': 117900000.0,
 '$80.4 million[3]': 80400000.0,
 '$21.3 million[4]': 21300000.0,
 '$39.2 million[3]': 39200000.0,
 '$758.5 million[1]': 758500000.0,
 '$147 million[3]': 147000000.0,
 '$100.7 million[4]': 100700000.0,
 '$657.8 million[4]': 657800000.0,
 '$213.1 million[3]': 213100000.0,
 '$45.7 million[2]': 45700000.0,
 '$542.4 million[5]': 542400000.0,
 '$17.1 million[4]': 17100000.0,
 '$209 million[4]': 209000000.0,
 '$858 million[3]': 858000000.0,
 'est. ₹1.65 billion[1]': 'est. ₹1.65 billion[1]',
 '$332.2 million[6]': 332200000.0,
 '$52.1 million[4]': 52100000.0,
 '$1.024 billion[5]': 1024000000.0,
 '$966.6 million[4]': 966600000.0,
 '$300 million[1]': 300000000.0,
 '$1.029 billion[4]': 1028999999.9999999,
 '$195.2 million[8]': 195200000.0,
 '$143.7 million[2]': 143700000.0,
 '$10.4 million[3]': 10400000.0,
 '$690.8 million[1]': 690800000.0,
 'est. ₹2,024–2,100 crore[4][5][6][7]  ($311–340 million)[8]': 311000000.0,
 '$127.4 million[3]': 127400000.0,
 '$1.264 billion[4]': 1264000000.0,
 '$794.9 million[5]': 794900000.0,
 '$383.9 million[4]': 383900000.0,
 '₹833.5 million[3]': 11399070.021881837,
 '$807.1 million[7]': 807100000.0,
 '$133.4 million[5][6]': 133400000.0,
 '$1.243 billion[1]': 1243000000.0,
 '$197.7 million[5]': 197700000.0,
 '$174 million[4]': 174000000.0,
 '$529.3 million[4]': 529299999.99999994,
 '$349.5 million[4]': 349500000.0,
 '$353.3 million[7]': 353300000.0,
 '$7.7\n million[3]': 7700000.0,
 '$1.051 billion[6]': 1050999999.9999999,
 '$1.073 billion[6][7]': 1073000000.0,
 '$1.657 billion[5]': 1657000000.0,
 '$491.7 million[3]': 491700000.0,
 '$1.450 billion[5][6]': 1450000000.0,
 '$144.9 million[5]': 144900000.0,
 '$66.8 million[4][5]': 66800000.0}

In [63]:
for_boxoffice = df['Box office'].replace(dict(zip(df['Box office'].unique(), l)))

In [64]:
str_=[]
for i in for_boxoffice.unique():
    try:
        float(i)
    except:
        str_.append(i)
print(str_)
print(df[df['Box office']==str_[0]].index)

['est. ₹1.65 billion[1]']
Index(['ABCD 2'], dtype='object')

In [65]:
to_replace = float(re.findall('\d+\.?\d*', str_[0])[0]) * 1000000000 / 73.12

In [66]:
for_boxoffice= for_boxoffice.replace(str_[0], to_replace)
df['box_office'] = for_boxoffice

# Dropping all the unneccessary columns

In [73]:
df.columns

Index(['Productioncompany ', 'Release date', 'Running time', 'Country',
       'Language', 'Box office', 'Directed by', 'Produced by', 'Written by',
       'Based on', 'Starring', 'Music by', 'Distributed by', 'Budget',
       'Story by', 'Narrated by', 'Cinematography', 'Edited by',
       'Screenplay by', 'Productioncompanies ', 'production_company',
       'release_date', 'running_time', 'budget', 'box_office'],
      dtype='object')

In [75]:
df = df.drop(['Productioncompany ', 'Release date', 'Running time', 'Box office', 'Budget', 'Productioncompanies '],axis=1)

# Language

In [76]:
list(df['Language'].unique())

['English',
 "['English', 'Portuguese', 'Spanish']",
 "['English', 'Spanish', 'Portuguese']",
 'English, Spanish',
 'EnglishIrish',
 'English, Scots',
 'EnglishGaelic',
 'EnglishSwedishNorwegianDanishIcelandic',
 'EnglishInuktitut',
 'NorwegianEnglish',
 'EnglishVietnamese',
 "['English', 'Italian']",
 'English  French  Mandarin Chinese  Hindi',
 nan,
 'German',
 'Russian',
 'French',
 'Hindi',
 'Telugu',
 'EnglishFrench',
 'FrenchEnglish',
 'EnglishLuganda',
 'English[5]',
 'English French']

In [77]:
lang = []
for i in df['Language'].unique():
    try:
        lang.append(re.findall('[A-Z]+[a-z]+', i))
    except:
        lang.append(np.NaN)

In [78]:
lang

[['English'],
 ['English', 'Portuguese', 'Spanish'],
 ['English', 'Spanish', 'Portuguese'],
 ['English', 'Spanish'],
 ['English', 'Irish'],
 ['English', 'Scots'],
 ['English', 'Gaelic'],
 ['English', 'Swedish', 'Norwegian', 'Danish', 'Icelandic'],
 ['English', 'Inuktitut'],
 ['Norwegian', 'English'],
 ['English', 'Vietnamese'],
 ['English', 'Italian'],
 ['English', 'French', 'Mandarin', 'Chinese', 'Hindi'],
 nan,
 ['German'],
 ['Russian'],
 ['French'],
 ['Hindi'],
 ['Telugu'],
 ['English', 'French'],
 ['French', 'English'],
 ['English', 'Luganda'],
 ['English'],
 ['English', 'French']]

In [79]:
def convert_lang(x):
    try:
        return re.findall('[A-Z]+[a-z]+', x)
    except TypeError:
        return np.NaN

In [80]:
df['Lang'] = df['Language'].apply(convert_lang)

In [81]:
# creating a set of the languages (#returns unique languages)
set_=[]
for i in range(len(lang)):
    try:
        for j in range(len(lang[i])):
            set_.append(lang[i][j])
    except TypeError:
        print(np.NaN)

nan

In [82]:
# creating a column for all the language names
for i in list(set(set_)):
    df[i] = 0

In [83]:
# adding 1 to the languages which are present in that particular row
for j in range(len(df)):
    try:
        for i in df.iloc[j]['Lang']:
            df.loc[df.index[j],i] = 1
    except:
        print('null')

null
null

In [84]:
df.iloc[:10 :,-15:]

,German,Italian,French,Inuktitut,Danish,Mandarin,Vietnamese,Icelandic,Scots,Irish,English,Gaelic,Hindi,Norwegian,Chinese
Academy Award Review of Walt Disney Cartoons,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
Snow White and the Seven Dwarfs,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
Pinocchio,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
Fantasia,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
The Reluctant Dragon,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
Dumbo,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
Bambi,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
Saludos Amigos,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
Victory Through Air Power,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
The Three Caballeros,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [85]:
df=df.drop(['Lang', 'Language'],axis=1)

# Country

In [86]:
countries = []
for i in df['Country'].unique():
    try:
        countries.append(re.findall('[A-Z]+[a-z]+',i))
    except:
        countries.append(np.NaN)

In [87]:
for k in range(2): # repeating the loop twice because because two countries with United in it are present 
    # i.e (UnitedStates and UnitedKingdom)
    for i in countries:
        try:
            if 'United' in i:
                in_ = i.index('United')
                z=(' '.join(i[in_:in_+2]))
                
                for n in range(2):
                    i.pop(in_)  # first remove united, now at the index of united in_+1 value will come remove that as well

                i.append(z)
        except:
            continue

Creating a Function for country

In [88]:
def convert_country(val):
    global i
    try:
            i=(re.findall('[A-Z]+[a-z]+',val))
    except:
            i=(np.NaN)


    for k in range(2):
        try:
            if 'United' in i:
                in_ = i.index('United')
                z=(' '.join(i[in_:in_+2]))

                for n in range(2):
                    i.pop(in_)
                i.append(z)
        except:
            continue
    return i

In [89]:

df['country'] = df['Country'].apply(convert_country)

In [90]:
list_c = []
for i in df['country']:
    try:

        if len(i) == 1:
            list_c.append(i[0])
        else:
            list_c.append(i)
    except:
        list_c.append(np.NaN)

In [91]:
len(list_c)

421

In [92]:
df['country1'] = list_c

In [93]:
df[['country', 'country1']].iloc[340:380]

,country,country1
Mars Needs Moms,[United States],United States
Zokkomon,[India],India
African Cats,"[France, United States, United Kingdom]","[France, United States, United Kingdom]"
Prom,[United States],United States
Pirates of the Caribbean:On Stranger Tides,[United States],United States
Cars 2,[United States],United States
Winnie the Pooh,[United States],United States
The Muppets,[United States],United States
John Carter,[United States],United States
Chimpanzee,"[France, United States, United Kingdom]","[France, United States, United Kingdom]"
Arjun: The Warrior Prince,[India],India
Brave,[United States],United States
The Odd Life of Timothy Green,[United States],United States
Frankenweenie,[United States],United States
Wreck-It Ralph,[United States],United States
Oz the Great and Powerful,[United States],United States
Wings of Life,"[France, United States]","[France, United States]"
Monsters University,[United States],United States
The Lone Ranger,[United States],United States
Planes,[United States],United States
Frozen,[United States],United States
Saving Mr. Banks,"[Australia, United Kingdom, United States]","[Australia, United Kingdom, United States]"
Muppets Most Wanted,[United States],United States
Bears,[United States],United States
Million Dollar Arm,[United States],United States
Maleficent,[United States],United States
Planes: Fire & Rescue,[United States],United States
"Alexander and the Terrible, Horrible, No Good, Very Bad Day",[United States],United States
Big Hero 6,[United States],United States
Into the Woods,[United States],United States
"McFarland, USA",[United States],United States
Cinderella,"[United States, United Kingdom]","[United States, United Kingdom]"
Monkey Kingdom,[United States],United States
Tomorrowland,[United States],United States
Inside Out,[United States],United States
ABCD 2,[India],India
The Good Dinosaur,[United States],United States
The Finest Hours,[United States],United States
Zootopia,[United States],United States
The Jungle Book,[United States],United States

In [94]:
df=df.drop(['country', 'Country'], axis=1)

In [95]:
df.to_csv('cleaned_data.csv')